 h1,h2,h3{
    
    font-weight:bold;
    color:	#191970
}
p{
    font-family: 'Marmelad', sans-serif;
    color:#8B4513
}
table {
    font-family: 'Cormorant', serif;
    color:#2F4F4F;
    font-size:14px;
    border:3px solid
    }
    
li{
     font-family: 'Marmelad', sans-serif;
     }
img
	{
		width:300px;
		height: 400px;
   }
   
   .one,.two,.three,.four
      {
         
       color:#8B4513;
    }
    
    .bl
    { font-family: 'Bad Script', cursive;
        }
   